*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #557a95;
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
  overflow-x: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 75px 150px;
  position: relative;
}
.hero .left {
  width: 20%;
}
.hero .left .profile {
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
}
.hero .left .btnContainer {
  text-align: center;
  margin-top: 20px;
}
.hero .left .btnContainer button {
  background-color: white;
  color: #395264;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 7px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 610px) {
  .hero .left .btnContainer button {
    font-size: 12px;
  }
}
.hero .left .btnContainer button:active {
  background-color: white;
  text-decoration: none;
  border: none;
  outline: none;
}
.hero .left .btnContainer button:focus {
  text-decoration: none;
  border: none;
  outline: none;
}
.hero .about {
  width: 80%;
  margin-left: 80px;
  padding: 30px;
  background-color: #395264;
  color: white;
  border-radius: 30px;
  border: 5px solid white;
}
.hero .about h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
@media (max-width: 610px) {
  .hero .about h1 {
    font-size: 36px;
  }
}
.hero .about h5 {
  font-size: 16px;
  line-height: 1.25rem;
}
@media (max-width: 610px) {
  .hero .about h5 {
    font-size: 14px;
  }
}

.experiences {
  padding: 50px 150px;
  background-color: #425f75;
}
.experiences h2 {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 50px;
}
.experiences .experienceLeft {
  position: relative;
}
.experiences .experienceLeft .imgLeft {
  position: relative;
  width: 30%;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.experiences .experienceLeft .imgLeft img {
  width: 100%;
}
.experiences .experienceLeft .aboutRight {
  position: absolute;
  left: 27%;
  width: 73%;
  padding: 15px;
  background-color: #bcafa5;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  top: 50%;
  transform: translate(0, -50%);
}
.experiences .experienceLeft .aboutRight h3.experienceTitle {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 0.75rem;
  line-height: 2rem;
}
.experiences .experienceLeft .aboutRight h5.experienceDescription {
  line-height: 1.25rem;
}
.experiences .experienceRight {
  position: relative;
}
.experiences .experienceRight .imgRight {
  position: relative;
  left: 70%;
  width: 30%;
  border: 5px solid white;
}
.experiences .experienceRight .imgRight img {
  width: 100%;
}
.experiences .experienceRight .aboutLeft {
  position: absolute;
  width: 73%;
  padding: 15px;
  background-color: #bcafa5;
  border: 5px solid white;
  color: black;
  top: 50%;
  transform: translate(0, -50%);
}
.experiences .experienceRight .aboutLeft h3.experienceTitle {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 0.75rem;
  line-height: 2rem;
}
.experiences .experienceRight .aboutLeft h5.experienceDescription {
  line-height: 1.25rem;
}

.labSection {
  padding: 50px 150px;
}
.labSection h2 {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 50px;
}
.labSection .labs {
  display: flex;
}
.labSection .labs .lab {
  position: relative;
  flex: 1 1 0;
  justify-content: space-between;
}
.labSection .labs .lab .img {
  margin: 0 auto;
  position: relative;
  width: 70%;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
.labSection .labs .lab .img img {
  width: 100%;
}
.labSection .labs .lab .about {
  position: relative;
  top: -4%;
  left: 5%;
  width: 90%;
  padding: 30px 15px 15px;
  background-color: #bcafa5;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}
.labSection .labs .lab .about h3.experienceTitle {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 0.75rem;
  line-height: 2rem;
}
.labSection .labs .lab .about h5.experienceDescription {
  line-height: 1.25rem;
}

.volunteerSection {
  background-color: #425f75;
  padding: 50px 150px;
}
.volunteerSection h2 {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 50px;
}
.volunteerSection .vol {
  position: relative;
}
.volunteerSection .vol .img {
  position: relative;
  left: 60%;
  width: 40%;
  border: 5px solid white;
}
.volunteerSection .vol .img img {
  width: 100%;
}
.volunteerSection .vol .about {
  position: absolute;
  width: 65%;
  padding: 15px;
  background-color: #bcafa5;
  border: 5px solid white;
  color: black;
  top: 50%;
  transform: translate(0, -50%);
}
.volunteerSection .vol .about h3.experienceTitle {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 0.75rem;
  line-height: 2rem;
}
.volunteerSection .vol .about h5.experienceDescription {
  line-height: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
